<div class="container mt-5 regester">
    <h2 class="text-center mb-4 h22h">Reset your password</h2>
@if (step==1) {

    <form [formGroup]="verieemail "(ngSubmit)="veriedEmail()">
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required />
      </div>

      <!-- Submit Button -->
      <button [disabled]="verieemail.invalid" type="submit" class="btn btn-custom w-100">Send Reset Link</button>

      <!-- Back to login -->
      <p class="text-center mt-3">
        <a routerLink="/login" >Back to Login</a>
      </p>
    </form>
}

@else if (step == 2) {

        <form [formGroup]="vericode" (ngSubmit)="veriedcode()">
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="resetCode" type="text" class="form-control" id="email" name="email" placeholder="EnterresetCode" required />
      </div>

      <!-- Submit Button -->
      <button [disabled]="vericode.invalid" type="submit" class="btn btn-custom w-100">Send Reset Link</button>

      <!-- Back to login -->
      <p class="text-center mt-3">
        <a routerLink="/login" >Back to Login</a>
      </p>
    </form>
}



@else if (step==3) {

        <form [formGroup]="resetpassword" (ngSubmit)="veriedresetpassword()">
      <!-- Email -->
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="email" name="email" placeholder="Enter newPassword" required />
        <label for="newPassword" class="form-label">newPassword address</label>
        <input formControlName="newPassword" type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Enter newPassword" required />
      </div>

      <!-- Submit Button -->
      <button [disabled]="resetpassword.invalid" type="submit" class="btn btn-custom w-100">Send Reset Link</button>

      <!-- Back to login -->
      <p class="text-center mt-3">
        <a routerLink="/login" >Back to Login</a>
      </p>
    </form>
}
  </div>
