<div class="container my-5">

    <!-- Banner -->
    <div class="banner mb-5 position-relative">
      <div class="position-relative z-1">
        <h1 class="fw-bold">StyleNest</h1>
        <p class="mb-3">Up to 50% off on selected items</p>
        <a href="#" class="btn btn-danger">Shop Now</a>
      </div>
      <img src="../../../assets/pexels-n-voitkevich-6214452.jpg" alt="Dress" />
    </div>

    <!-- Featured Products -->
    <h4 class="fw-bold mb-4 Featured">Featured Products</h4>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">

      <div class="col">
        <div class="card product-card">
          <img src="../../../assets/pexels-n-voitkevich-6214452.jpg" class="card-img-top" alt="Summer Dress">
          <div class="card-body">
            <h6 class="card-title">Elegant Summer Dress</h6>
            <p class="card-text text-muted">$49.99</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card product-card">
          <img src="../../../assets/pexels-n-voitkevich-6214452.jpg" class="card-img-top" alt="Men's Shirt">
          <div class="card-body">
            <h6 class="card-title">Casual Men's Shirt</h6>
            <p class="card-text text-muted">$29.99</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card product-card">
          <img src="../../../assets/pexels-n-voitkevich-6214452.jpg" class="card-img-top" alt="Women's Sandals">
          <div class="card-body">
            <h6 class="card-title">Stylish Women's Sandals</h6>
            <p class="card-text text-muted">$39.99</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card product-card">
          <img src="../../../assets/pexels-n-voitkevich-6214452.jpg"class="card-img-top" alt="Men's Sneakers">
          <div class="card-body">
            <h6 class="card-title">Comfortable Men's Sneakers</h6>
            <p class="card-text text-muted">$59.99</p>
          </div>
        </div>
      </div>

    </div>
  </div>
