 .banner {
      background: linear-gradient(to bottom, #ddd, #999);
      border-radius: 15px;
      text-align: left;
      padding: 40px;
      color: #00809d; /* لون الكلام داخل البانر */
      position: relative;
      overflow: hidden;
    }
    .banner img {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
    }
    .product-card img {
      max-height: 220px;
      object-fit: cover;
    }
    .Featured{
            color: #00809d;
    }
    .CO{
      color: #00809d;
    }
.product-card .add-to-cart-btn {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  background-color: #00809d;
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.product-card:hover .add-to-cart-btn {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  background-color: #00809d;
}
