<section class="py-5">
  <div class="container">
    <div class="row g-4">
      @for (breandss of brends; track breandss._id) {
        <div class="col-6 col-md-4 col-lg-2">
          <a class="text-decoration-none">
            <div class="card brand-card text-center h-100 shadow-sm border-0">
              <img [src]="breandss.image" [alt]="breandss.name" class="brand-logo mx-auto img-fluid mb-3" />
              <div class="brand-info">
                <h6 class="fw-semibold text-dark mb-1 text-truncate">{{ breandss.name }}</h6>
                <small class="text-muted text-truncate d-block">{{ breandss.slug }}</small>
              </div>
            </div>
          </a>
        </div>
      }
    </div>
  </div>
</section>
